.app {
  display: flex;
  overflow: hidden;
  height: 100vh;
  transition: all 0.5 ease-out;
}

.app_menu {
  position: fixed;
  left: 20px;
  display: none;
  z-index: 5;
}

.app_menu .MuiSvgIcon-root {
  margin: 10px;
  position: fixed;
  font-size: 40px;
  transition: all 0.5s;
}

.app_menuIcon {
  color: white;
  font-size: 400px;
}

@media only screen and (max-width: 1513px) {
  .app_menu {
    display: inline;
  }
}
